---
layout: mainLayout.njk
---


<script>


		document.addEventListener('DOMContentLoaded', () =>{ 
	    
		const urlParams = new URLSearchParams(window.location.search); 
	
		//* This is used to get the current city from local storage.
		if(urlParams.get('city') === null) {
			if(localStorage.getItem("currentCity") === null) {
				localStorage.setItem("currentCity", cities[0])
			}
		} else {
			localStorage.setItem("currentCity", urlParams.get('city'))
		}

		const cityDaily = weatherData[localStorage.getItem("currentCity").toLowerCase() + "_daily"]
	    const cityHourly = weatherData[localStorage.getItem("currentCity").toLowerCase() + "_hourly"]


		console.log(cityDaily)
    
	
		document.getElementById('page-heading').textContent= localStorage.getItem("currentCity").replace(/_/g, " "); 
		
		const sixDays = document.querySelector("#sixDays")
		// Populate Checkboxes with cities at preferences page

		for(let i = 1; i < 7; i++) {
			sixDays.innerHTML =
				sixDays.innerHTML + weatherProject.components.createWeatherItemDaily(dayjs().add(i, 'day').format('ddd'), cityDaily , i )
		}

		const now = dayjs();
		console.log(now)

		const currentHour = now.hour()
		console.log(currentHour)

		// Min and Max Temp
		const minTemp = document.querySelector("#minTemp")
		minTemp.innerHTML = cityDaily.daily.temperature_2m_min[0] + cityDaily.daily_units.temperature_2m_min
		const maxTemp = document.querySelector("#maxTemp")
		maxTemp.innerHTML = cityDaily.daily.temperature_2m_max[0] + cityDaily.daily_units.temperature_2m_max

		// Max Wind
		const maxWind = document.querySelector("#maxWind")
		maxWind.innerHTML = cityDaily.daily.wind_speed_10m_max[0] + cityDaily.daily_units.wind_speed_10m_max

		// Weather Condition
		const weatherCondition = document.querySelector("#weatherCondition")
		weatherCondition.src = "/images/" + cityDaily.daily.weather_code[0] + ".png"

		// Map of the current city
		const map = document.querySelector("#map")
		map.innerHTML = map.innerHTML + weatherProject.components.getMap(localStorage.getItem("currentCity"))
		
		//table of the hourly weather
		const rightNow = document.querySelector("#rightNow")
            rightNow.innerHTML = rightNow.innerHTML + weatherProject.components.createWeatherHourlyList(cityHourly, now.hour());

		});
</script>




<main id="index" class="box has-background-info ">
	<div class=" is-12 has-text-centered has-text-white">
		<p id="page-heading"  class="title is-1">  </p>
	</div>

	<header class="columns has-text-centered">
		<div class="column is-6"> 
			<section  class="card" >
				<header class="card-content">
					<h2 class="title is-centered">Right now</h2>
				</header>

				<div id="rightNow" class="card-content">
				
				</div>

			</section>
		</div>

		<div class="column is-6">
			<section  class="card" >

				<header class="card-content">
					<h2 class="title">Location</h2>
				</header>

				<div id="map" class="card-content ">					
				</div>				
			</section>
		</div>
	</header>


	<div class="columns is-multiline has-text-centered">
		<div class="column is-12 has-text-centered has-text-white">
			<p class="title is-2">Today</p>
		</div>

		<div class="column is-3"> 
			<section id="WeatherCondition" class="card" >
				<header class="card-content">
					<h2 class="title is-centered">Weather Codition</h2>
				</header>

				<div class="card-image ">
					<figure class="image is-48x48 is-inline-block">	
						<img id="weatherCondition"  src="#" alt="Image">
					</figure>
				</div>
			</section>
		</div>

		<div class="column is-3">
			<section  class="card" >

				<header class="card-content">
					<h2 class="title">Min Temp</h2>
				</header>

				<div class="card-content ">
					<p id="minTemp" class="title">6 C</p>
				</div>
				
			</section>
		</div>

		<div class="column is-3">
			<section  class="card" >
				<header class="card-content">
					<h2 class="title">Max Temp</h2>
				</header>

				<div class="card-content ">
					<p id="maxTemp" class="title">12 C</p>
				</div>
			</section>
		</div>

		<div class="column is-3">
			<section class="card" >
				<header class="card-content">
					<h2 class="title">Max Wind</h2>
				</header>

				<div class="card-content ">
					<p  id="maxWind" class="title">15 m/s </p>
				</div>
			</section>		
		</div>		
	</div>


	<footer id="sixDays" class="columns is-multiline box has-background-info is-centered">
		<div class="column is-12 has-text-centered has-text-white">
			<p class="title is-2">6 Days forecast</p>
		</div>
	</footer>



</main>

