---
layout: mainLayout.njk
---
<script>
		document.addEventListener('DOMContentLoaded', () =>{ 
	    
			const urlParams = new URLSearchParams(window.location.search); 
			
			//* This is used to set the current city in local storage.
			if(urlParams.get('city') !== null) {
				localStorage.setItem(currentCity, urlParams.get('city'))
				//reset the current day to 0
				localStorage.setItem(currentDay, 0)
			}
				
			//* This is used to set the current city in local storage.
			if(urlParams.get('day') !== null) {
				localStorage.setItem(currentDay, urlParams.get('day'))
			}

			//Seting page title
			document.getElementById('page-heading').textContent= localStorage.getItem(currentCity).replace(/_/g, " "); 
			
			// getting current date and time
			const now = dayjs();
			const currentHour = now.hour()

			//table of the hourly weather
			if(localStorage.getItem(show12HoursForecast) === "true" ? true : false){
				const rightNow = document.querySelector("#rightNow")
				rightNow.innerHTML = rightNow.innerHTML + weatherProject.components.createWeatherHourlyList(cityHourly, now.hour(), 12);
			}else{
				const rightNow = document.querySelector("#rightNow")
				rightNow.innerHTML = rightNow.innerHTML + weatherProject.components.createWeatherHourlyList(cityHourly, currentHour, 6);
			}

			// Map of the current city
			if(localStorage.getItem(showMap) === "true" ? true : false) {
				const mapPlace = document.querySelector("#headerMain")
				mapPlace.innerHTML = mapPlace.innerHTML + weatherProject.components.createMapPlace()

				const map = document.querySelector("#map")
				map.innerHTML = map.innerHTML + weatherProject.components.getMap(localStorage.getItem(currentCity))
			}

			// Creates 7 days forecast items
			const sevenDays = document.querySelector("#sevenDays")
			for(let i = 0; i < 7; i++) {
				if(i == 0) {
					sevenDays.innerHTML =
						sevenDays.innerHTML + weatherProject.components.createWeatherItemDaily("Today", cityDaily , i )
				}else{
					sevenDays.innerHTML =
						sevenDays.innerHTML + weatherProject.components.createWeatherItemDaily(dayjs().add(i, 'day').format('ddd'), cityDaily , i )
				}
			}

			// Current Day Title
			const currentDayTitle = document.querySelector("#"+currentDay)
			if(localStorage.getItem(currentDay) == 0) {
				currentDayTitle.innerHTML = "Today"
			
			}else{
				currentDayTitle.innerHTML = dayjs().add(localStorage.getItem(currentDay), 'day').format('dddd')
			}

			// Weather Condition
			const weatherCondition = document.querySelector("#weatherCondition")
			weatherCondition.src = "/images/" + cityDaily.daily.weather_code[localStorage.getItem(currentDay)] + ".png"

			// Min Temp
			const minTempPlace = document.querySelector("#dayDetails")
			minTempPlace.innerHTML = minTempPlace.innerHTML + weatherProject.components.createDayDetails("minTemp","Min Temp")
			const minTemp = document.querySelector("#minTemp")
			minTemp.innerHTML = cityDaily.daily.temperature_2m_min[localStorage.getItem(currentDay)] + cityDaily.daily_units.temperature_2m_min
			
			// Max Temp
			const maxTempPlace = document.querySelector("#dayDetails")
			maxTempPlace.innerHTML = maxTempPlace.innerHTML + weatherProject.components.createDayDetails("maxTemp","Max Temp")
			const maxTemp = document.querySelector("#maxTemp")
			maxTemp.innerHTML = cityDaily.daily.temperature_2m_max[localStorage.getItem(currentDay)] + cityDaily.daily_units.temperature_2m_max

			// Max Wind
			const maxWindPlace = document.querySelector("#dayDetails")
			maxWindPlace.innerHTML = maxWindPlace.innerHTML + weatherProject.components.createDayDetails("maxWind","Max Wind")
			
			const maxWind = document.querySelector("#maxWind")
			maxWind.innerHTML = cityDaily.daily.wind_speed_10m_max[localStorage.getItem(currentDay)] + cityDaily.daily_units.wind_speed_10m_max

			// Rain precipitation %
			if(localStorage.getItem(showRain) === "true" ? true : false) {
				const rainPlace = document.querySelector("#dayDetails")
				rainPlace.innerHTML = rainPlace.innerHTML + weatherProject.components.createDayDetails(showRain," Rain (%)")

				const rain = document.querySelector("#"+showRain)
				rain.innerHTML = cityDaily.daily.precipitation_probability_max[localStorage.getItem(currentDay)] + cityDaily.daily_units.precipitation_probability_max
			}

			// Feels Like Temp
			if(localStorage.getItem( showFeelsLikeTemp) === "true" ? true : false) {
				const feelsLikePlace = document.querySelector("#dayDetails")
				feelsLikePlace.innerHTML = feelsLikePlace.innerHTML + weatherProject.components.createDayDetails(showFeelsLikeTemp,"Feels Like")

				const feelsLike = document.querySelector("#"+showFeelsLikeTemp)
				feelsLike.innerHTML =  "Max " + cityDaily.daily.apparent_temperature_max[localStorage.getItem(currentDay)] + cityDaily.daily_units.apparent_temperature_max
			}		
		});
</script>

<main id="index" class="box has-background-info ">
	<div class=" is-12 has-text-centered has-text-white">
		<p id="page-heading"  class="title is-1">  </p>
	</div>

	<header id="headerMain" class="columns">
		<div class="column"> 
			<section  class="card" >
				<header class="card-content">
					<h2 class="title has-text-centered">Right now</h2>
				</header>

				<div id="rightNow" class="card-content">				
				</div>
			</section>
		</div>
	</header>

	<div id="sevenDays" class="columns is-multiline box has-background-info is-centered">
		<div class="column is-12 has-text-centered has-text-white">
			<p class="title is-2">7 Days forecast</p>
		</div>
	</div>

	<footer id="dayDetails" class="columns is-multiline has-text-centered">
		<div class="column is-12 has-text-centered has-text-white">
			<p id= "currentDay" class="title is-2"></p>
		</div>

		<div class="column"> 
			<section id="WeatherCondition" class="card" >
				<header class="card-content">
					<h2 class="title is-4">Weather Codition</h2>
				</header>

				<div class="card-image ">
					<figure class="image is-64x64 is-inline-block">	
						<img id="weatherCondition"  src="#" alt="Image">
					</figure>
				</div>
			</section>
		</div>

	</footer>
</main>