---
layout: mainLayout.njk
---

<script>
	document.addEventListener('DOMContentLoaded', () =>{ 
		const urlParams = new URLSearchParams(window.location.search); 
		const cityName = urlParams.get('city'); 
		
		//const playlist= weatherProject.dataStore.list().find(item=>item.name===playlistName); 
		//document.getElementById('page-heading').textContent=playlist.name; constmain=document.querySelector('main'); 
		
		//main.innerHTML=main.innerHTML+dotify.components.createPlaylistItem(playlist); 
		//main.innerHTML=main.innerHTML+dotify.components.createPlaylistList(playlist.songs); 
		});
</script>



<main id= "index" class="box has-background-info is-centered">
	<div class=" is-12 has-text-centered has-text-white">
		<p class="title is-size-1"> City </p>
		<p class="subtitle is-size-2"> Today </p>
	</div>

	<header class="grid">
		<div class="cell is-4 box has-background-black">
			<h2 class="subtitle has-text-centered is-4">Cities</h2>
		</div>
		<div class="cell is-4 box has-background-black">
			<h2 class="subtitle has-text-centered is-4">Right now</h2>
		</div>
		<div class="cell is-4 box has-background-black">
			<h2 class="subtitle has-text-centered is-4">MAP</h2>
		</div>
	</header>


	<div class="grid">
		<div class="cell  is-4 box has-background-black">
			<h2 class="subtitle has-text-centered is-4">weather code</h2>
		</div>
		<div class="cell is-4 box has-background-black">
			<h2 class="subtitle has-text-centered is-4">max temp</h2>
		</div>
		<div class="cell is-4 box has-background-black">
			<h2 class="subtitle has-text-centered is-4">Min temp</h2>
		</div>
		<div class="cell is-4 box has-background-black">
			<h2 class="subtitle has-text-centered is-4">Max wind</h2>
		</div>
	</div>

	<footer class="grid" >
		<div class="cell is-2 box has-background-black">
			<h2 class="subtitle has-text-centered is-4">today</h2>
		</div>
		<div class="cell is-2 box has-background-black">
			<h2 class="subtitle has-text-centered is-4">monday</h2>
		</div>
		<div class="cell is-2 box has-background-black">
			<h2 class="subtitle has-text-centered is-4">tue</h2>
		</div>
		<div class="cell is-2 box has-background-black">
			<h2 class="subtitle has-text-centered is-4">wed</h2>
		</div>
		<div class="cell is-2 box has-background-black">
			<h2 class="subtitle has-text-centered is-4">thu</h2>
		</div>
		<div class="cell is-2 box has-background-black">
			<h2 class="subtitle has-text-centered is-4">fri</h2>
		</div>
		<div class="cell is-2 box has-background-black">
			<h2 class="subtitle has-text-centered is-4">sat</h2>
		</div>
	</footer>



</main>

