---
layout: mainLayout.njk
---

<main id= "dashboard" class="columns is-multiline box has-background-info is-centered">
  <div class="column is-12 has-text-centered has-text-white">
    <p class="is-size-1">Dashboard</p>
  </div>
  
</main>