---
layout: mainLayout.njk
---
<script>
    document.addEventListener("DOMContentLoaded", () => {
    const dashboard = document.querySelector("#dashboard")
    const cityDaily = weatherData[localStorage.getItem("currentCity").toLowerCase() + "_daily"]

        // Populate Checkboxes with cities at preferences page
        cities.forEach((city) => {
          if(readCheckbox(city))
          {
            dashboard.innerHTML =
              dashboard.innerHTML + weatherProject.components.createWeatherItem(city, weatherData[city.toLowerCase() + "_daily"], 0 )
          }
        })
    })  
</script>

<main class="box has-background-info has-text-centered">
  <h1 class="title">Dashboard</h1>
  <h2 class="subtitle">Select a city</h2>

  <div id="dashboard"  class="columns is-multiline is-centered">
  </div>

</main>
