---
layout: mainLayout.njk
---


    

    <p>The time is <span id="time"></span></p>
    <p>The weather code is <span id="weatherCode"></span></p>
    <p>Current city is <span id="currentCity"></span></p>
 