---
layout: mainLayout.njk
---



<h1 class="title">City</h1>

    <p class="subtitle" >The time is <span id="time"></span></p>
    <p>The weather code is <span id="weatherCode"></span></p>
    <p>Current city is <span id="currentCity"></span></p>

 	<div class="columns">
		<div class="column">
			<p class="box has-background-info">First column</p>
		</div>
		<div class="column">
			<p class="box has-background-info">Second column</p>
		</div>

	</div>
	<div class="columns">
		<div class="column">
			<p class="box has-background-info">First column</p>
		</div>
		<div class="column">
			<p class="box has-background-info">Second column</p>
		</div>
		<div class="column">
			<p class="box has-background-info">Third column</p>
		</div>

	</div>

    <div class="columns">
		<div class="column">
			<p class="box has-background-info">First column</p>
		</div>
		<div class="column">
			<p class="box has-background-info">Second column</p>
		</div>
		<div class="column">
			<p class="box has-background-info">Third column</p>
		</div>
		<div class="column">
			<p class="box has-background-info">Fourth column</p>
		</div>
        		<div class="column">
			<p class="box has-background-info">Second column</p>
		</div>
		<div class="column">
			<p class="box has-background-info">Third column</p>
		</div>
		<div class="column">
			<p class="box has-background-info">Fourth column</p>
		</div>
	</div>