---
layout: mainLayout.njk
---


<main id="settings" class="columns is-multiline box has-background-info is-centered">
    <div class="column is-12 has-text-centered has-text-white">
        <h1 class="title">User Settings</h1>
    </div>


    <div class="column is-2 checkboxes is-multiline box has-background-black">
        <h2 class="subtitle has-text-centered is-4">Cities</h2>
        <label class="checkbox column ">
            <input type="checkbox" />
            Monday
        </label>

        <label class="checkbox column">
            <input type="checkbox" />
            Tuesday
        </label>

        <label class="checkbox column">
            <input type="checkbox" />
            Wednesday
        </label>

        <label class="checkbox column">
            <input type="checkbox" />
            Thursday
        </label>

        <label class="checkbox column">
            <input type="checkbox" />
            Friday
        </label>

        <label class="checkbox column">
            <input type="checkbox" checked />
            Saturday
        </label>

        <label class="checkbox column">
            <input type="checkbox" checked />
            Sunday
        </label>
    </div>

    <div class="column is-2 is-offset-2 checkboxes is-multiline box has-background-black">
        <h2 class="subtitle has-text-centered is-4">Preferences</h2>
        <label class="checkbox column">
            <input type="checkbox" />
            Monday
        </label>

        <label class="checkbox column">
            <input type="checkbox" />
            Tuesday
        </label>

        <label class="checkbox column">
            <input type="checkbox" />
            Wednesday
        </label>

        <label class="checkbox column">
            <input type="checkbox" />
            Thursday
        </label>

        <label class="checkbox column">
            <input type="checkbox" />
            Friday
        </label>

        <label class="checkbox column">
            <input type="checkbox" checked />
            Saturday
        </label>

        <label class="checkbox column">
            <input type="checkbox" checked />
            Sunday
        </label>
    </div>



</main>



