---
layout: mainLayout.njk
---
<script>
    document.addEventListener("DOMContentLoaded", () => {    

        // create city checkboxes in the settings page
        createCheckboxes (cities, "citiesCheckboxes")
        cities.forEach((city) => {
            const isChecked = localStorage.getItem(city) === "true" ? true : false
            updateCheckbox (city, isChecked) 
            })

        // create preferences checkboxes in the settings page
        createCheckboxes (preferences, "preferencesCheckboxes")
        preferences.forEach((item) => {
            const isChecked = localStorage.getItem(item) === "true" ? true : false
            updateCheckbox (item, isChecked) 
        })
    })

    // * This is used to save the state of the checkboxes in local storage.
    // * When the page is loaded, it will check the local storage and set the checkbox state accordingly.
    document.addEventListener("DOMContentLoaded", () => { 
        var checkBoxItems = document.querySelectorAll("input[class='CheckboxItem']")

        checkBoxItems.forEach((item) => {
            item.addEventListener('change', function() {
                if (this.checked) {                    
                    localStorage.setItem(this.id, true)
                } else {
                    localStorage.setItem(this.id, false)
                }
                if (this.id === darkTheme) {
                    // Refresh the page after a delay of 0.5 seconds
                    setTimeout(function(){
                    location.reload();
                    }, 500); // 500 milliseconds = 0.5 seconds
                        
                }
            })
        })
    })
    </script>

<main id="preferences" class="box has-background-info">
    
    <!-- Title -->
    <h1 class="title has-text-centered has-text-white">User Settings</h1>

    <!-- Checkboxes -->
    <div class="columns is-centered">
        <!-- Cities checkboxes -->
        <section  class="column is-one-quarter">
            <div id="citiesCheckboxes" class="box">
                <h2 class="subtitle has-text-centered is-4">Cities</h2>
            </div>
        </section>

        <!-- Preferences Checkboxes -->
        <section  class="column is-one-quarter">
            <div id="preferencesCheckboxes" class="box">
                <h2 class="subtitle has-text-centered is-4">Preferences</h2>
                <button class="button is-info is-focused" id="reset" onclick="resetAllPreferences()" >Reset to default options   </button>    
            </div>
        </section>

    </div>
</main>



