<footer>
  
</footer>
<footer class="footer">
  <div class="content has-text-centered">
    <p>Contact us at : tiagovillaca13@gmail.com, or visit us: <a href="#"> directions </a></p>
    <a href="https://www.flaticon.com/free-icons/sun" title="sun icons">Sun icons created by iconixar - Flaticon</a>
  </div>
</footer>

