<header class="box has-background-info">
    <!-- Navigation bar -->
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        
        <!-- Logo -->
        <div class="navbar-brand">
            <a href="/index"><img id="logo" src="/images/logo.png" alt="Company Logo"></a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">

            <a class="navbar-item" href="/index">
                Dashboard
            </a>

            <a class="navbar-item" href="/cityFocus">
                City
            </a>

            <a class="navbar-item" href="/preferences">
                Settings
            </a>

            </div>
            
        </div>
    </nav>
</header>