<!DOCTYPE HTML>
<html lang="en" data-theme="dark"> <!-- Dark Theme selected -->

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bulma Framework -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>Whether Weather</title>    

    <!-- Weather Data -->
    <script src="/data/weather_data.js"></script>
    <!-- javascript file -->
    <script src="/js/project.js"></script>

    <script src="/js/navbar.js"></script>
  
  </head>

  <body class="container">
 
    {% include "header.njk" %}
    <div>
      {{ content | safe }}
    </div>
    {% include "footer.njk" %}

  </body>
</html>
