<!DOCTYPE HTML>
<html lang="en" data-theme="dark"> <!-- Dark Theme selected -->

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bulma Framework -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>Whether Weather</title>    

    <!-- Weather Project -->
    <script src="/js/weather_project.js"></script>
    
    <!-- Components -->
    <script src="/js/components/weather-item.js"></script>
    <!-- Weather Data -->
    <script src="/js/weather_data.js"></script>
    <!-- javascript file 
    <script src="/js/project.js"></script> -->

    <script src="/js/navbar.js"></script>
    
    <!-- Populate Dashboard page -->
    <script>
    document.addEventListener("DOMContentLoaded", () => {
      const main = document.querySelector("#dashboard")
      weatherProject.dataStore.list().forEach((cityWeather) => {
        main.innerHTML =
          main.innerHTML + weatherProject.components.createWeatherItem(cityWeather)

      })
    })
    </script>
     
  </head>

  <body class="container">
    {% include "header.njk" %}
      
    {{ content | safe }}

    {% include "footer.njk" %}
  </body>
</html>
